.foo {
	color : red;
}

.tbl-row {

	&.current {
		td {
			font-weight: bold;
		}
	}

}

.progress {

	width: 200px;

	.progress-bar {
		&.hold {
			background-color: red;
		}

		&.breathe {
			background-color: green;
		}

		color : white;
	}

}