

#main {

	.tbl-row {

		.past {
			text-decoration: line-through;
		}

		.current {
			font-weight: bold;
		}

		.future {
			color: grey;
		}

		td {
			text-align: center;
		}

	}


	.progress {

		width: 100%;
		position: relative;
		background-color: lightgrey;

		.progress-bar {

			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			opacity: 0.5;

			&.hold {
				background-color: red;
				color : red;
			}

			&.breathe {
				background-color: green;
				color : green;
			}

		}

		.progress-label {
			width: 100%;
			background-color: transparent;
			color : black;
			text-align: center;
		}

	}

	.tbl-card {

		.tbl-name input {
			font-size: 24px;
		}

		.tbl-steps {
			padding-left: 1em;
			padding-right: 1em;
			width: 100%;
			padding-bottom: 2em;

			td {
				text-align: center;

				.mdl-textfield {
					max-width: 60px;

					input {
						text-align: center;
					}
				}
			}
		}

		.mdl-card__supporting-text {
			color: inherit;
		}

	}

	.tbl-run-container {

		margin-top: 24px;
		margin-bottom: 60px;
		padding-left: 12px;
		padding-right: 12px;

		.mdl-button--icon.mdl-button--fab {
			position: fixed;
			bottom: 32px;
			right:32px;
		}

		.tbl-run {
			width: 100%;

			td {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}

		.progress {
			&.breathe {
				.mdl-progress > .progressbar {
					background-color: green;
				}
				.mdl-progress>.bufferbar {
					background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,green,green);
					z-index: 0;
					left: 0;
				}
			}
			&.hold {
				.mdl-progress > .progressbar {
					background-color: red;
				}
				.mdl-progress>.bufferbar {
					background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,red,red);
					z-index: 0;
					left: 0;
				}
			}
		}
	}

	.mdl-button--icon.mdl-button--fab {
		height: 56px;
		width: 56px;
		min-height: 56px;
		min-width: 56px;
	}

	.mdl-progress {
		width: 100%;
	}

}

